#header{
 	font-size: 16px;
 	border-bottom: 1px solid #204361;
 	padding-bottom: 5px;
 	padding-top: 8px;
 	background-color: #428bca;
 	color: white;
 }

 #header a:hover{
 	background-color: transparent;
 }

 #header a{
 	color: white;
 }

 #headersmall{
 	font-size: 10px;
 }

 .headertext{
	border-left: 12px solid #3276b1;
	padding-left: 10px;
 }

 .container.applicationContainer{
 	padding-left: 12px;

 }

 .mainContainer{
 	border-left: 1px solid #DBDBDB;
 	padding: 15px 10px 0px 10px;
 }

 .mainContainer h1{
 	margin: 0;
 }

 body{
 	background-color: #F2F2F2;
 }

#header .navigation{
	width: 300px;
	float: right;
}

#header .navigation a{
	padding: 8px 15px 5px 15px;
	display: block;
}

#header .navigation a:active{
	position: relative;
	top: 2px;
}

#header .navigation .glyphicon{
	font-size: 18px;
}

 .white, .white a{
 	color: #ffffff;
 }