<!DOCTYPE html>
<html>
<head>
  <title>Stockerator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="header">
		<div class="container headertext">
			<strong>Stockerator</strong><br /><em><span id="headersmall">A CMSC424 project by Jack Lotkowski, Spring 2014</span></em>
		</div>
	</div>

	<div class="container">

		<%= yield %>

	</div>

</body>
</html>